<form id='new-entry'>
  <input id='new-image-name' type='text' name='name'/>
  <input id='new-image-file' type='file' name='files[]'/>
  <button type='submit' class='btn'>Add</button>
</form>

<ul id='images-grid' class='thumbnails'>
</ul>
