<!--
<form id='new-entry'>
  <input id='new-image-name' type='text' name='name'/>
  <input id='new-image-file' type='file' name='files[]'/>
  <button type='submit' class='btn'>Add</button>
</form>
-->

<div>
  <input id='new-image-file' type='file' name='image'/>
</div>

<!--
<span id='upload-file-button' class='btn'>
  <span>Choose File</span>
  <input id='new-image-file' type='file' name='files'/>
</span>
-->

<ul id='images-grid' class='thumbnails'>
</ul>

<div id='images-modal' class='modal hide'>
  <div class='modal-body'>
    <img src='' alt=''>
  </div>
</div>

